.slr-navbar {
  align-items: center;
  background-color: var(--color-bg-2);
  border-bottom: 1px solid var(--color-accent-1);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  min-height: var(--height-nav);
  padding: 0px var(--gap-x-regular);
  position: sticky;
  top: 0px;
  z-index: 1;
}
