.slr-page {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.slr-page-main {
  background-color: var(--color-bg-2);
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: left var(--speed-regular);
}

.slr-page-main-sidenav-open {
  left: var(--width-sidenav);
}

.slr-page-main-sidenav-closed {
  left: 0vw;
}

.slr-page-main-overlay {
  height: 100%;
  position: absolute;
  transition: var(--speed-regular);
  width: 100%;
  z-index: 3;
}

.slr-page-main-overlay-visible {
  background-color: rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.slr-page-main-overlay-invisible {
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .slr-page-main {
    transition: margin-left var(--speed-regular);
  }

  .slr-page-main-sidenav-open {
    left: 0;
    margin-left: var(--width-sidenav);
  }

  .slr-page-main-sidenav-closed {
    left: 0;
    margin-left: 0px;
  }

  .slr-page-main-overlay {
    display: none;
  }
}
