.slr-sidenav-container {
  background-color: var(--color-bg-1);
  box-shadow: inset -2px 0px 0px -1px var(--color-accent-1);
  box-sizing: border-box;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  transition: var(--speed-regular);
  z-index: 1;
}

.slr-sidenav-container-open {
  max-width: var(--width-sidenav);
  min-width: var(--width-sidenav);
}

.slr-sidenav-container-closed {
  max-width: 0vw;
  min-width: 0vw;
}

.slr-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: var(--width-sidenav);
}

.slr-sidenav > header {
  padding: 0px var(--gap-regular);
}

.slr-sidenav > header > .slr-sidenav-header-close {
  display: flex;
  justify-content: end;
  height: var(--height-nav);
}

.slr-sidenav > nav {
  flex-grow: 1;
  padding: 0px var(--gap-regular);
}

.slr-sidenav > footer {
  align-items: center;
  box-sizing: border-box;
  border-top: 1px solid var(--color-accent-1);
  display: flex;
  height: var(--height-nav);
  padding: 0px var(--gap-regular);
}
