.slr-bottom-nav {
  background-color: var(--color-bg-2);
  border-top: 1px solid var(--color-accent-1);
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  height: 64px;
  position: fixed;
  width: 100%;
}

.slr-bottom-nav-spacer {
  display: block;
  height: 64px;
  width: 100%;
}

.slr-bottom-nav-add {
  align-items: center;
  background-color: var(--color-bg-2);
  border: 1px solid var(--color-accent-1);
  border-radius: 24px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  left: calc(50% - 24px);
  outline: 8px solid var(--color-bg-2);
  position: absolute;
  top: -24px;
  width: 48px;
}

.slr-bottom-nav-slot {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .slr-bottom-nav {
    display: none;
  }
}
